<header>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
  &nbsp; &nbsp;&nbsp; &nbsp;
    <li class="nav-item active">
       <a class="nav-link" routerLink="/userlist">UserList </a>
    </li>
      &nbsp; &nbsp;&nbsp; &nbsp;
    <li class="nav-item">
     <a class="nav-link" routerLink="/user">AddUser</a>
    </li>
  </ul>
</nav>
</header>
