
<div class="container-fluid">
 <div class="row mt-5">
  <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">
                        <div class="">
                            <form [formGroup]="User" >
                                <div class="form">
                                    <div>
                                      <mat-form-field appearance="fill">
                                        <mat-label>UserId</mat-label>
                                        <input matInput type="number" formControlName="userId"> 
                                        <mat-error> UserId is reqired.</mat-error>                                   
                                      </mat-form-field>
                                    </div>
                                    <br>
                                    <div >
                                      <mat-form-field  hintLabel="Max 40 characters" appearance="fill">
                                        <mat-label>Title</mat-label>
                                        <input matInput  #input maxlength="40" formControlName="title">
                                        <mat-hint align="end">{{input.value?.length || 0}}/40</mat-hint>
                                        <mat-error>Title is reqired.</mat-error>   
                                      </mat-form-field>
                                    </div>
                                    <br>
                                    <div >
                                      <mat-form-field  hintLabel="Max 100 characters" appearance="fill">
                                        <mat-label>Body</mat-label>
                                        <textarea matInput  #input1 maxlength="100" cols="67" rows="4"   formControlName="body"></textarea>
                                         <mat-hint align="end">{{input1.value?.length || 0}}/100</mat-hint>
                                        <mat-error>Body is reqired.</mat-error>  
                                      </mat-form-field>
                                    </div>
                                    <br>
                                    <div class="d-sm-flex justify-content-between">
                                        <div class="field-wrapper">
                                        <button class="btn  btn-secondary" (click)="Onsubmit()">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    </div>