/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  .searchingbtn{
  margin-top:15px !important;
  }
.displayflex{
display:flex;
}

  .mat-column-userId {
    flex: unset;
    width: 11% !important;
  }
  .floatright{
    float:right;
}
  .floatleft{
    float:left;
}

.mat-header-cell{
background-color: #17a2b8;
color:white;
}
.mat-table {
    background: #f6f2f2 !important;
    border: ridge !important;
}
  .header-cell {
    display: inline  !important;
    align-items: center  !important;
    text-align: center !important;
    padding: 22px 2px !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
@media (max-width: 375px) {
.searchingbtn{
     font-size: 12px;
     padding: 8px 8px;
}

}
@media (min-width: 384px) {
.mat-form-field-infix {
width:269px  !important;
}
}