
<div class="container">
<div class="row mt-5" >
<div class="col-md-2">
<mat-form-field appearance="outline" >
      <mat-label>Search by Id</mat-label>
      <input [(ngModel)]="name" matInput type="number"  > 
                             
    </mat-form-field>
    </div>
    <div class="col-md-10 displayflex" >
    <div class="col-md-3">
  <button class="btn btn-success searchingbtn" (click)="Search()">Search</button>
  </div>
<div class="col-md-7">
<button class="btn btn-success searchingbtn floatright" (click)="GetAll()">GetAll</button>
</div>


    </div>
</div> 
<br>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">
  <ng-container matColumnDef="userId">
    <mat-header-cell *matHeaderCellDef class="header-cell"><b> Id</b></mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.userId}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="body">
    <mat-header-cell *matHeaderCellDef class="header-cell"> <b>Body</b> </mat-header-cell>
    <mat-cell *matCellDef="let element" > {{element.body}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef class="header-cell"> <b>Title</b> </mat-header-cell>
    <mat-cell *matCellDef="let element" > {{element.title}} </mat-cell>
  </ng-container>
  
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

</div>